# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Build artifacts
*.egg-info/
*.egg
*.whl

# Logs and temporary files
*.log
*.tmp
*.temp
*.out

# IDE configurations
.idea/
.vscode/
*.swp
*~

# Testing artifacts
.coverage
.cache/
.nox/
.tox/
.pytest_cache/

# Confidential files
.env
*.env
*.secret
*.private

# Untracked directories
/src/workspace
/src/MinIO/data
/src/MinIO/config
/src/mlflow/data
/src/postgres/mlflow_data