# MinIO
MINIO_BUCKET_NAME=my-bucket
MINIO_ACCESS_KEY=my-access-key
MINIO_SECRET_KEY=my-secret-key

# Templates
TEMPLATE_REPO=https://github.com/KorneevRV/DS_template

# Current project
REPO_NAME=your_repo_name
DEV_CONTAINER=python-dev-container